* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  background-color: #8bc34a;
}

.container {
  margin: 5px;
  padding: 5px;
  font-size: 18px;
}

.no-success {
  color: #33691e;
  margin-left: 15px;
  padding: 15px;
  max-width: 700px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#loader {
  position: relative;
  top: 25%;
  left: 25%;
  z-index: 9999;
  margin: 15px;
}

#header {
  margin: 10px;
  max-width: 730px;
  text-align: center;
  font-size: 40px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  -webkit-text-stroke: 1px black;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #284d19;
}

.search-form {
  padding: 15px;
  max-width: 730px;
  display: flex;
  align-items: center;
}

.search-input {
  margin-left: 30px;
  flex: 3;
  background-color: transparent;
  border: 3px solid #33691e;
  height: 60px;
  padding-left: 30px;
  font-size: 18px;
}

.search-input::placeholder {
  color: #525252;
  opacity: 0.8;
}

.search-input:focus {
  outline: 0;
  box-shadow: none;
}

.search-btn {
  flex: 1;
  background-color: #33691e;
  border: 3px solid #33691e;
  height: 60px;
  font-size: 18px;
}

.search-btn:hover {
  cursor: pointer;
}

.search-btn:focus {
  outline: 0;
  box-shadow: none;
}

details {
  line-height: 1.5;
  color: #284d19;
  margin-left: 30px;
}

summary:focus {
  outline: 0;
  box-shadow: none;
}

a {
  margin-left: 30px;
  text-decoration: none;
  color: #284d19;
  padding-left: 16px;
}

@media screen and (max-width: 600px) {
  #loader {
    margin: 0;
    top: 10%;
    left: 10%;
  }

  h1 {
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
  }

  .search-form {
    padding: 0;
  }

  .search-input {
    margin: 10px 0;
  }
}
